.driverBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(214, 159, 41, 1) 100%);
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #d69f29;
  cursor: pointer;
  transition: 0.3s ease;
}

.driverBox:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.driverBox-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.driverBox-right>img {
  width: 100%;
}

@media only screen and (max-width: 1025px) {
  .driverBox {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .driverBox {
    grid-template-columns: 1fr;
    padding: 30px 10px;
    width: 100%;
    margin: 1%;
    font-size: 0.9rem;
  }

  .driverBox-left {
    padding-left: 0;
  }

  .driverBox-right {
    display: none;
  }
}